:root {
    --background: #5231e9;
    --primary-color: white;
    --secondary-color: #5231e9;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.products {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--background);
}

.social-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
}

.social-buttons li {
    background-color: var(--primary-color);
    display: grid;
    place-items: center;
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: all 0.3s;
    border: 1px solid var(--primary-color);
}

.social-buttons li a {
    color: var(--secondary-color);
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}

.social-buttons li a svg {
    width: 40px;
    height: 40px;
    stroke: var(--secondary-color);
    stroke-width: 1px;
    transition: 1s;
}

.social-buttons li:hover {
    background-color: var(--secondary-color);
    border-radius: 20px;
    border: 1px solid var(--primary-color);
}

.social-buttons li:hover svg {
    transform: rotateY(360deg);
    stroke: var(--primary-color);
    stroke-width: 2px;
}